schemas/maven-4.0.0.rnc

# =================== DO NOT EDIT THIS FILE ====================

# Generated by Modello 1.8.3,

# any modifications will be overwritten.

# ==============================================================

default namespace = "http://maven.apache.org/POM/4.0.0"
namespace a = "http://relaxng.org/ns/compatibility/annotations/1.0"
namespace rng = "http://relaxng.org/ns/structure/1.0"

start |= project
project =
  element project {
    Model
    >> a:documentation [
         "\x{a}" ~
         "      3.0.0+\x{a}" ~
         "      \x{a}" ~
         "        \x{a}" ~
         "        The <code>&lt;project&gt;</code> element is the root of the descriptor.\x{a}" ~
         "        The following table lists all of the possible child elements.\x{a}" ~
         "        \x{a}" ~
         "      \x{a}" ~
         "    "
       ]
  }

## 
##       3.0.0+
##       
##         
##         The <code>&lt;project&gt;</code> element is the root of the descriptor.
##         The following table lists all of the possible child elements.
##         
##       
##     
Model =
  element modelVersion {
    
    ## 
    ##           4.0.0+
    ##           Declares to which version of project descriptor this POM conforms.
    ##         
    xsd:string
  }??
  & element parent {
      Parent
      >> a:documentation [
           "\x{a}" ~
           "          4.0.0+\x{a}" ~
           "          The location of the parent project, if one exists. Values from the parent\x{a}" ~
           "            project will be the default for this project if they are left unspecified. The location\x{a}" ~
           "            is given as a group ID, artifact ID and version.\x{a}" ~
           "        "
         ]
    }??
  & element groupId {
      
      ## 
      ##           3.0.0+
      ##           
      ##             
      ##             A universally unique identifier for a project. It is normal to
      ##             use a fully-qualified package name to distinguish it from other
      ##             projects with a similar name (eg. <code>org.apache.maven</code>).
      ##             
      ##           
      ##         
      xsd:string
    }??
  & element artifactId {
      
      ## 
      ##           3.0.0+
      ##           The identifier for this artifact that is unique within the group given by the
      ##             group ID. An artifact is something that is either produced or used by a project.
      ##             Examples of artifacts produced by Maven for a project include: JARs, source and binary
      ##             distributions, and WARs.
      ##         
      xsd:string
    }??
  & element version {
      
      ## 
      ##           4.0.0+
      ##           The current version of the artifact produced by this project.
      ##         
      xsd:string
    }??
  & 
    ## 
    ##             default value is : jar
    (element packaging {
       
       ## 
       ##           4.0.0+
       ##           
       ##             
       ##             The type of artifact this project produces, for example <code>jar</code>
       ##               <code>war</code>
       ##               <code>ear</code>
       ##               <code>pom</code>.
       ##             Plugins can create their own packaging, and
       ##             therefore their own packaging types,
       ##             so this list does not contain all possible types.
       ##             
       ##           
       ##         
       xsd:string
     }??)
  & element name {
      
      ## 
      ##           3.0.0+
      ##           The full name of the project.
      ##         
      xsd:string
    }??
  & element description {
      
      ## 
      ##           3.0.0+
      ##           A detailed description of the project, used by Maven whenever it needs to
      ##             describe the project, such as on the web site. While this element can be specified as
      ##             CDATA to enable the use of HTML tags within the description, it is discouraged to allow
      ##             plain text representation. If you need to modify the index page of the generated web
      ##             site, you are able to specify your own instead of adjusting this text.
      ##         
      xsd:string
    }??
  & element url {
      
      ## 
      ##           3.0.0+
      ##           
      ##             
      ##             The URL to the project's homepage.
      ##             <br /><b>Default value is</b>: parent value [+ path adjustment] + artifactId
      ##             
      ##           
      ##         
      xsd:string
    }??
  & element inceptionYear {
      
      ## 
      ##           3.0.0+
      ##           The year of the project's inception, specified with 4 digits. This value is
      ##             used when generating copyright notices as well as being informational.
      ##         
      xsd:string
    }??
  & element organization {
      Organization
      >> a:documentation [
           "\x{a}" ~
           "          3.0.0+\x{a}" ~
           "          This element describes various attributes of the organization to which the\x{a}" ~
           "            project belongs. These attributes are utilized when documentation is created (for\x{a}" ~
           "            copyright notices and links).\x{a}" ~
           "        "
         ]
    }??
  & 
    ## 
    ##           3.0.0+
    ##           
    ##             
    ##             This element describes all of the licenses for this project.
    ##             Each license is described by a <code>license</code> element, which
    ##             is then described by additional elements.
    ##             Projects should only list the license(s) that applies to the project
    ##             and not the licenses that apply to dependencies.
    ##             If multiple licenses are listed, it is assumed that the user can select
    ##             any of them, not that they must accept all.
    ##             
    ##           
    ##         
    element licenses {
      element license { License }*
    }??
  & 
    ## 
    ##           3.0.0+
    ##           Describes the committers of a project.
    ##         
    element developers {
      element developer { Developer }*
    }??
  & 
    ## 
    ##           3.0.0+
    ##           Describes the contributors to a project that are not yet committers.
    ##         
    element contributors {
      element contributor { Contributor }*
    }??
  & 
    ## 
    ##           3.0.0+
    ##           Contains information about a project's mailing lists.
    ##         
    element mailingLists {
      element mailingList { MailingList }*
    }??
  & element prerequisites {
      Prerequisites
      >> a:documentation [
           "\x{a}" ~
           "          4.0.0+\x{a}" ~
           "          Describes the prerequisites in the build environment for this project.\x{a}" ~
           "        "
         ]
    }??
  & 
    ## 
    ##           4.0.0+
    ##           The modules (sometimes called subprojects) to build as a part of this
    ##             project. Each module listed is a relative path to the directory containing the module.
    ##             To be consistent with the way default urls are calculated from parent, it is recommended
    ##             to have module names match artifact ids.
    ##         
    element modules {
      element module { xsd:string }*
    }??
  & element scm {
      Scm
      >> a:documentation [
           "\x{a}" ~
           "          4.0.0+\x{a}" ~
           "          Specification for the SCM used by the project, such as CVS, Subversion, etc.\x{a}" ~
           "        "
         ]
    }??
  & element issueManagement {
      IssueManagement
      >> a:documentation [
           "\x{a}" ~
           "          4.0.0+\x{a}" ~
           "          The project's issue management system information.\x{a}" ~
           "        "
         ]
    }??
  & element ciManagement {
      CiManagement
      >> a:documentation [
           "\x{a}" ~
           "          4.0.0+\x{a}" ~
           "          The project's continuous integration information.\x{a}" ~
           "        "
         ]
    }??
  & element distributionManagement {
      DistributionManagement
      >> a:documentation [
           "\x{a}" ~
           "          4.0.0+\x{a}" ~
           "          Distribution information for a project that enables deployment of the site\x{a}" ~
           "            and artifacts to remote web servers and repositories respectively.\x{a}" ~
           "        "
         ]
    }??
  & 
    ## 
    ##           4.0.0+
    ##           
    ##             
    ##             Properties that can be used throughout the POM as a substitution, and
    ##             are used as filters in resources if enabled.
    ##             The format is <code>&lt;name&gt;value&lt;/name&gt;</code>.
    ##             
    ##           
    ##         
    element properties {
      element * { text }*
    }??
  & element dependencyManagement {
      DependencyManagement
      >> a:documentation [
           "\x{a}" ~
           "          4.0.0+\x{a}" ~
           "          Default dependency information for projects that inherit from this one. The\x{a}" ~
           "            dependencies in this section are not immediately resolved. Instead, when a POM derived\x{a}" ~
           "            from this one declares a dependency described by a matching groupId and artifactId, the\x{a}" ~
           "            version and other values from this section are used for that dependency if they were not\x{a}" ~
           "            already specified.\x{a}" ~
           "        "
         ]
    }??
  & 
    ## 
    ##           3.0.0+
    ##           
    ##             
    ##             This element describes all of the dependencies associated with a
    ##             project.
    ##             These dependencies are used to construct a classpath for your
    ##             project during the build process. They are automatically downloaded from the
    ##             repositories defined in this project.
    ##             See <a href="http://maven.apache.org/guides/introduction/introduction-to-dependency-mechanism.html">the
    ##             dependency mechanism</a> for more information.
    ##             
    ##           
    ##         
    element dependencies {
      element dependency { Dependency }*
    }??
  & 
    ## 
    ##           4.0.0+
    ##           The lists of the remote repositories for discovering dependencies and
    ##             extensions.
    ##         
    element repositories {
      element repository { Repository }*
    }??
  & 
    ## 
    ##           4.0.0+
    ##           The lists of the remote repositories for discovering plugins for builds and
    ##             reports.
    ##         
    element pluginRepositories {
      element pluginRepository { Repository }*
    }??
  & element build {
      Build
      >> a:documentation [
           "\x{a}" ~
           "          3.0.0+\x{a}" ~
           "          Information required to build the project.\x{a}" ~
           "        "
         ]
    }??
  & 
    ## 
    ##           4.0.0+
    ##           
    ##             
    ##             <b>Deprecated</b>. Now ignored by Maven.
    ##             
    ##           
    ##         
    element reports {
      element * { text }*
    }??
  & element reporting {
      Reporting
      >> a:documentation [
           "\x{a}" ~
           "          4.0.0+\x{a}" ~
           "          \x{a}" ~
           "            \x{a}" ~
           "            This element includes the specification of report plugins to use\x{a}" ~
           "            to generate the reports on the Maven-generated site.\x{a}" ~
           "            These reports will be run when a user executes <code>mvn site</code>.\x{a}" ~
           "            All of the reports will be included in the navigation bar for browsing.\x{a}" ~
           "            \x{a}" ~
           "          \x{a}" ~
           "        "
         ]
    }??
  & 
    ## 
    ##           4.0.0+
    ##           A listing of project-local build profiles which will modify the build process
    ##             when activated.
    ##         
    element profiles {
      element profile { Profile }*
    }??

## 
##       4.0.0+
##       
##         
##         The <code>&lt;parent&gt;</code> element contains information required to locate the parent project from which
##         this project will inherit from.
##         <strong>Note:</strong> The children of this element are not interpolated and must be given as literal values.
##         
##       
##     
Parent =
  element groupId {
    
    ## 
    ##           4.0.0+
    ##           The group id of the parent project to inherit from.
    ##         
    xsd:string
  }??
  & element artifactId {
      
      ## 
      ##           4.0.0+
      ##           The artifact id of the parent project to inherit from.
      ##         
      xsd:string
    }??
  & element version {
      
      ## 
      ##           4.0.0+
      ##           The version of the parent project to inherit.
      ##         
      xsd:string
    }??
  & 
    ## 
    ##             default value is : ../pom.xml
    (element relativePath {
       
       ## 
       ##           4.0.0+
       ##           
       ##             
       ##             The relative path of the parent <code>pom.xml</code> file within the check out.
       ##             If not specified, it defaults to <code>../pom.xml</code>.
       ##             Maven looks for the parent POM first in this location on
       ##             the filesystem, then the local repository, and lastly in the remote repo.
       ##             <code>relativePath</code> allows you to select a different location,
       ##             for example when your structure is flat, or deeper without an intermediate parent POM.
       ##             However, the group ID, artifact ID and version are still required,
       ##             and must match the file in the location given or it will revert to the repository for the POM.
       ##             This feature is only for enhancing the development in a local checkout of that project.
       ##             Set the value to an empty string in case you want to disable the feature and always resolve
       ##             the parent POM from the repositories.
       ##             
       ##           
       ##         
       xsd:string
     }??)

## 
##       3.0.0+
##       Specifies the organization that produces this project.
##     
Organization =
  element name {
    
    ## 
    ##           3.0.0+
    ##           The full name of the organization.
    ##         
    xsd:string
  }??
  & element url {
      
      ## 
      ##           3.0.0+
      ##           The URL to the organization's home page.
      ##         
      xsd:string
    }??

## 
##       4.0.0+
##       This elements describes all that pertains to distribution for a project. It is
##         primarily used for deployment of artifacts and the site produced by the build.
##     
DistributionManagement =
  element repository {
    DeploymentRepository
    >> a:documentation [
         "\x{a}" ~
         "          4.0.0+\x{a}" ~
         "          Information needed to deploy the artifacts generated by the project to a\x{a}" ~
         "            remote repository.\x{a}" ~
         "        "
       ]
  }??
  & element snapshotRepository {
      DeploymentRepository
      >> a:documentation [
           "\x{a}" ~
           "          4.0.0+\x{a}" ~
           "          \x{a}" ~
           "            \x{a}" ~
           "            Where to deploy snapshots of artifacts to. If not given, it defaults to the\x{a}" ~
           "            <code>repository</code> element.\x{a}" ~
           "            \x{a}" ~
           "          \x{a}" ~
           "        "
         ]
    }??
  & element site {
      Site
      >> a:documentation [
           "\x{a}" ~
           "          4.0.0+\x{a}" ~
           "          Information needed for deploying the web site of the project.\x{a}" ~
           "        "
         ]
    }??
  & element downloadUrl {
      
      ## 
      ##           4.0.0+
      ##           
      ##             
      ##             The URL of the project's download page. If not given users will be
      ##             referred to the homepage given by <code>url</code>.
      ##             This is given to assist in locating artifacts that are not in the repository due to
      ##             licensing restrictions.
      ##             
      ##           
      ##         
      xsd:string
    }??
  & element relocation {
      Relocation
      >> a:documentation [
           "\x{a}" ~
           "          4.0.0+\x{a}" ~
           "          Relocation information of the artifact if it has been moved to a new group ID\x{a}" ~
           "            and/or artifact ID.\x{a}" ~
           "        "
         ]
    }??
  & element status {
      
      ## 
      ##           4.0.0+
      ##           
      ##             
      ##             Gives the status of this artifact in the remote repository.
      ##             This must not be set in your local project, as it is updated by
      ##             tools placing it in the reposiory. Valid values are: <code>none</code> (default),
      ##             <code>converted</code> (repository manager converted this from an Maven 1 POM),
      ##             <code>partner</code>
      ##             (directly synced from a partner Maven 2 repository), <code>deployed</code> (was deployed from a Maven 2
      ##             instance), <code>verified</code> (has been hand verified as correct and final).
      ##             
      ##           
      ##         
      xsd:string
    }??

## 
##       4.0.0+
##       Describes where an artifact has moved to. If any of the values are omitted, it is
##         assumed to be the same as it was before.
##     
Relocation =
  element groupId {
    
    ## 
    ##           4.0.0+
    ##           The group ID the artifact has moved to.
    ##         
    xsd:string
  }??
  & element artifactId {
      
      ## 
      ##           4.0.0+
      ##           The new artifact ID of the artifact.
      ##         
      xsd:string
    }??
  & element version {
      
      ## 
      ##           4.0.0+
      ##           The new version of the artifact.
      ##         
      xsd:string
    }??
  & element message {
      
      ## 
      ##           4.0.0+
      ##           An additional message to show the user about the move, such as the reason.
      ##         
      xsd:string
    }??

## 
##       4.0.0+
##       Contains the information needed for deploying websites.
##     
Site =
  element id {
    
    ## 
    ##           4.0.0+
    ##           
    ##             
    ##             A unique identifier for a deployment location. This is used to match the
    ##             site to configuration in the <code>settings.xml</code> file, for example.
    ##             
    ##           
    ##         
    xsd:string
  }??
  & element name {
      
      ## 
      ##           4.0.0+
      ##           Human readable name of the deployment location.
      ##         
      xsd:string
    }??
  & element url {
      
      ## 
      ##           4.0.0+
      ##           
      ##             
      ##             The url of the location where website is deployed, in the form <code>protocol://hostname/path</code>.
      ##             <br /><b>Default value is</b>: parent value [+ path adjustment] + artifactId
      ##             
      ##           
      ##         
      xsd:string
    }??

## 
##       4.0.0+
##       Repository contains the information needed for deploying to the remote
##         repository.
##     
DeploymentRepository =
  
  ## 
  ##             default value is : true
  (element uniqueVersion {
     
     ## 
     ##           4.0.0+
     ##           Whether to assign snapshots a unique version comprised of the timestamp and
     ##             build number, or to use the same version each time
     ##         
     xsd:boolean
   }??)
  & element releases {
      RepositoryPolicy
      >> a:documentation [
           "\x{a}" ~
           "          4.0.0+\x{a}" ~
           "          How to handle downloading of releases from this repository.\x{a}" ~
           "        "
         ]
    }??
  & element snapshots {
      RepositoryPolicy
      >> a:documentation [
           "\x{a}" ~
           "          4.0.0+\x{a}" ~
           "          How to handle downloading of snapshots from this repository.\x{a}" ~
           "        "
         ]
    }??
  & element id {
      
      ## 
      ##           4.0.0+
      ##           
      ##             
      ##             A unique identifier for a repository. This is used to match the repository
      ##             to configuration in the <code>settings.xml</code> file, for example. Furthermore, the identifier is
      ##             used during POM inheritance and profile injection to detect repositories that should be merged.
      ##             
      ##           
      ##         
      xsd:string
    }??
  & element name {
      
      ## 
      ##           4.0.0+
      ##           Human readable name of the repository.
      ##         
      xsd:string
    }??
  & element url {
      
      ## 
      ##           4.0.0+
      ##           
      ##             
      ##             The url of the repository, in the form <code>protocol://hostname/path</code>.
      ##             
      ##           
      ##         
      xsd:string
    }??
  & 
    ## 
    ##             default value is : default
    (element layout {
       
       ## 
       ##           4.0.0+
       ##           
       ##             
       ##             The type of layout this repository uses for locating and storing artifacts -
       ##             can be <code>legacy</code> or <code>default</code>.
       ##             
       ##           
       ##         
       xsd:string
     }??)

## 
##       4.0.0+
##       Download policy.
##     
RepositoryPolicy =
  element enabled {
    
    ## 
    ##           4.0.0+
    ##           
    ##             
    ##             Whether to use this repository for downloading this type of artifact. Note: While the type
    ##             of this field is <code>String</code> for technical reasons, the semantic type is actually
    ##             <code>Boolean</code>. Default value is <code>true</code>.
    ##             
    ##           
    ##         
    xsd:string
  }??
  & element updatePolicy {
      
      ## 
      ##           4.0.0+
      ##           
      ##             
      ##             The frequency for downloading updates - can be
      ##             <code>always,</code>
      ##             <code>daily</code>
      ##             (default),
      ##             <code>interval:XXX</code>
      ##             (in minutes) or
      ##             <code>never</code>
      ##             (only if it doesn't exist locally).
      ##             
      ##           
      ##         
      xsd:string
    }??
  & element checksumPolicy {
      
      ## 
      ##           4.0.0+
      ##           
      ##             
      ##             What to do when verification of an artifact checksum fails. Valid values are
      ##             <code>ignore</code>
      ##             ,
      ##             <code>fail</code>
      ##             or
      ##             <code>warn</code>
      ##             (the default).
      ##             
      ##           
      ##         
      xsd:string
    }??

## 
##       4.0.0+
##       Describes the prerequisites a project can have.
##     
Prerequisites =
  
  ## 
  ##             default value is : 2.0
  (element maven {
     
     ## 
     ##           4.0.0+
     ##           
     ##             For a plugin project, the minimum version of Maven required to use
     ##             the resulting plugin.<br />
     ##             For specifying the minimum version of Maven required to build a
     ##             project, this element is <b>deprecated</b>. Use the Maven Enforcer
     ##             Plugin's <a href="https://maven.apache.org/enforcer/enforcer-rules/requireMavenVersion.html"><code>requireMavenVersion</code></a>
     ##             rule instead.
     ##             
     ##           
     ##         
     xsd:string
   }??)

## 
##       3.0.0+
##       Description of a person who has contributed to the project, but who does not have
##         commit privileges. Usually, these contributions come in the form of patches submitted.
##     
Contributor =
  element name {
    
    ## 
    ##           3.0.0+
    ##           The full name of the contributor.
    ##         
    xsd:string
  }??
  & element email {
      
      ## 
      ##           3.0.0+
      ##           The email address of the contributor.
      ##         
      xsd:string
    }??
  & element url {
      
      ## 
      ##           3.0.0+
      ##           The URL for the homepage of the contributor.
      ##         
      xsd:string
    }??
  & element organization {
      
      ## 
      ##           3.0.0+
      ##           The organization to which the contributor belongs.
      ##         
      xsd:string
    }??
  & element organizationUrl {
      
      ## 
      ##           3.0.0+
      ##           The URL of the organization.
      ##         
      xsd:string
    }??
  & 
    ## 
    ##           3.0.0+
    ##           
    ##             
    ##             The roles the contributor plays in the project. Each role is described by a
    ##             <code>role</code> element, the body of which is a role name. This can also be used to
    ##             describe the contribution.
    ##             
    ##           
    ##         
    element roles {
      element role { xsd:string }*
    }??
  & element timezone {
      
      ## 
      ##           3.0.0+
      ##           
      ##             
      ##               The timezone the contributor is in. Typically, this is a number in the range
      ##               <a href="http://en.wikipedia.org/wiki/UTC%E2%88%9212:00">-12</a> to <a href="http://en.wikipedia.org/wiki/UTC%2B14:00">+14</a>
      ##               or a valid time zone id like "America/Montreal" (UTC-05:00) or "Europe/Paris" (UTC+01:00).
      ##             
      ##           
      ##         
      xsd:string
    }??
  & 
    ## 
    ##           3.0.0+
    ##           Properties about the contributor, such as an instant messenger handle.
    ##         
    element properties {
      element * { text }*
    }??

## 
##       4.0.0+
##       
##         
##         The <code>&lt;scm&gt;</code> element contains informations required to the SCM
##         (Source Control Management) of the project.
##         
##       
##     
Scm =
  element connection {
    
    ## 
    ##           4.0.0+
    ##           
    ##             
    ##             The source control management system URL
    ##             that describes the repository and how to connect to the
    ##             repository. For more information, see the
    ##             <a href="http://maven.apache.org/scm/scm-url-format.html">URL format</a>
    ##             and <a href="http://maven.apache.org/scm/scms-overview.html">list of supported SCMs</a>.
    ##             This connection is read-only.
    ##             <br /><b>Default value is</b>: parent value [+ path adjustment] + artifactId
    ##             
    ##           
    ##         
    xsd:string
  }??
  & element developerConnection {
      
      ## 
      ##           4.0.0+
      ##           
      ##             
      ##             Just like <code>connection</code>, but for developers, i.e. this scm connection
      ##             will not be read only.
      ##             <br /><b>Default value is</b>: parent value [+ path adjustment] + artifactId
      ##             
      ##           
      ##         
      xsd:string
    }??
  & 
    ## 
    ##             default value is : HEAD
    (element tag {
       
       ## 
       ##           4.0.0+
       ##           The tag of current code. By default, it's set to HEAD during development.
       ##         
       xsd:string
     }??)
  & element url {
      
      ## 
      ##           4.0.0+
      ##           
      ##             
      ##             The URL to the project's browsable SCM repository, such as ViewVC or Fisheye.
      ##             <br /><b>Default value is</b>: parent value [+ path adjustment] + artifactId
      ##             
      ##           
      ##         
      xsd:string
    }??

## 
##       4.0.0+
##       A repository contains the information needed for establishing connections with
##         remote repository.
##     
Repository =
  element releases {
    RepositoryPolicy
    >> a:documentation [
         "\x{a}" ~
         "          4.0.0+\x{a}" ~
         "          How to handle downloading of releases from this repository.\x{a}" ~
         "        "
       ]
  }??
  & element snapshots {
      RepositoryPolicy
      >> a:documentation [
           "\x{a}" ~
           "          4.0.0+\x{a}" ~
           "          How to handle downloading of snapshots from this repository.\x{a}" ~
           "        "
         ]
    }??
  & element id {
      
      ## 
      ##           4.0.0+
      ##           
      ##             
      ##             A unique identifier for a repository. This is used to match the repository
      ##             to configuration in the <code>settings.xml</code> file, for example. Furthermore, the identifier is
      ##             used during POM inheritance and profile injection to detect repositories that should be merged.
      ##             
      ##           
      ##         
      xsd:string
    }??
  & element name {
      
      ## 
      ##           4.0.0+
      ##           Human readable name of the repository.
      ##         
      xsd:string
    }??
  & element url {
      
      ## 
      ##           4.0.0+
      ##           
      ##             
      ##             The url of the repository, in the form <code>protocol://hostname/path</code>.
      ##             
      ##           
      ##         
      xsd:string
    }??
  & 
    ## 
    ##             default value is : default
    (element layout {
       
       ## 
       ##           4.0.0+
       ##           
       ##             
       ##             The type of layout this repository uses for locating and storing artifacts -
       ##             can be <code>legacy</code> or <code>default</code>.
       ##             
       ##           
       ##         
       xsd:string
     }??)

## 
##       4.0.0+
##       Information about the issue tracking (or bug tracking) system used to manage this
##         project.
##     
IssueManagement =
  element system {
    
    ## 
    ##           4.0.0+
    ##           The name of the issue management system, e.g. Bugzilla
    ##         
    xsd:string
  }??
  & element url {
      
      ## 
      ##           4.0.0+
      ##           URL for the issue management system used by the project.
      ##         
      xsd:string
    }??

## 
##       4.0.0+
##       
##         
##         The <code>&lt;CiManagement&gt;</code> element contains informations required to the
##         continuous integration system of the project.
##         
##       
##     
CiManagement =
  element system {
    
    ## 
    ##           4.0.0+
    ##           
    ##             
    ##             The name of the continuous integration system, e.g. <code>continuum</code>.
    ##             
    ##           
    ##         
    xsd:string
  }??
  & element url {
      
      ## 
      ##           4.0.0+
      ##           URL for the continuous integration system used by the project if it has a web
      ##             interface.
      ##         
      xsd:string
    }??
  & 
    ## 
    ##           4.0.0+
    ##           Configuration for notifying developers/users when a build is unsuccessful,
    ##             including user information and notification mode.
    ##         
    element notifiers {
      element notifier { Notifier }*
    }??

## 
##       4.0.0+
##       Configures one method for notifying users/developers when a build breaks.
##     
Notifier =
  
  ## 
  ##             default value is : mail
  (element type {
     
     ## 
     ##           4.0.0+
     ##           The mechanism used to deliver notifications.
     ##         
     xsd:string
   }??)
  & 
    ## 
    ##             default value is : true
    (element sendOnError {
       
       ## 
       ##           4.0.0+
       ##           Whether to send notifications on error.
       ##         
       xsd:boolean
     }??)
  & 
    ## 
    ##             default value is : true
    (element sendOnFailure {
       
       ## 
       ##           4.0.0+
       ##           Whether to send notifications on failure.
       ##         
       xsd:boolean
     }??)
  & 
    ## 
    ##             default value is : true
    (element sendOnSuccess {
       
       ## 
       ##           4.0.0+
       ##           Whether to send notifications on success.
       ##         
       xsd:boolean
     }??)
  & 
    ## 
    ##             default value is : true
    (element sendOnWarning {
       
       ## 
       ##           4.0.0+
       ##           Whether to send notifications on warning.
       ##         
       xsd:boolean
     }??)
  & element address {
      
      ## 
      ##           4.0.0+
      ##           
      ##             
      ##             <b>Deprecated</b>. Where to send the notification to - eg email address.
      ##             
      ##           
      ##         
      xsd:string
    }??
  & 
    ## 
    ##           0.0.0+
    ##           Extended configuration specific to this notifier goes here.
    ##         
    element configuration {
      element * { text }*
    }??

## 
##       4.0.0+
##       Modifications to the build process which is activated based on environmental
##         parameters or command line arguments.
##     
Profile =
  
  ## 
  ##             default value is : default
  (element id {
     
     ## 
     ##           4.0.0+
     ##           The identifier of this build profile. This is used for command line
     ##             activation, and identifies profiles to be merged.
     ##           
     ##         
     xsd:string
   }??)
  & element activation {
      Activation
      >> a:documentation [
           "\x{a}" ~
           "          4.0.0+\x{a}" ~
           "          The conditional logic which will automatically trigger the inclusion of this\x{a}" ~
           "            profile.\x{a}" ~
           "        "
         ]
    }??
  & element build {
      BuildBase
      >> a:documentation [
           "\x{a}" ~
           "          4.0.0+\x{a}" ~
           "          Information required to build the project.\x{a}" ~
           "        "
         ]
    }??
  & 
    ## 
    ##           4.0.0+
    ##           The modules (sometimes called subprojects) to build as a part of this
    ##             project. Each module listed is a relative path to the directory containing the module.
    ##             To be consistent with the way default urls are calculated from parent, it is recommended
    ##             to have module names match artifact ids.
    ##         
    element modules {
      element module { xsd:string }*
    }??
  & element distributionManagement {
      DistributionManagement
      >> a:documentation [
           "\x{a}" ~
           "          4.0.0+\x{a}" ~
           "          Distribution information for a project that enables deployment of the site\x{a}" ~
           "            and artifacts to remote web servers and repositories respectively.\x{a}" ~
           "        "
         ]
    }??
  & 
    ## 
    ##           4.0.0+
    ##           
    ##             
    ##             Properties that can be used throughout the POM as a substitution, and
    ##             are used as filters in resources if enabled.
    ##             The format is <code>&lt;name&gt;value&lt;/name&gt;</code>.
    ##             
    ##           
    ##         
    element properties {
      element * { text }*
    }??
  & element dependencyManagement {
      DependencyManagement
      >> a:documentation [
           "\x{a}" ~
           "          4.0.0+\x{a}" ~
           "          Default dependency information for projects that inherit from this one. The\x{a}" ~
           "            dependencies in this section are not immediately resolved. Instead, when a POM derived\x{a}" ~
           "            from this one declares a dependency described by a matching groupId and artifactId, the\x{a}" ~
           "            version and other values from this section are used for that dependency if they were not\x{a}" ~
           "            already specified.\x{a}" ~
           "        "
         ]
    }??
  & 
    ## 
    ##           3.0.0+
    ##           
    ##             
    ##             This element describes all of the dependencies associated with a
    ##             project.
    ##             These dependencies are used to construct a classpath for your
    ##             project during the build process. They are automatically downloaded from the
    ##             repositories defined in this project.
    ##             See <a href="http://maven.apache.org/guides/introduction/introduction-to-dependency-mechanism.html">the
    ##             dependency mechanism</a> for more information.
    ##             
    ##           
    ##         
    element dependencies {
      element dependency { Dependency }*
    }??
  & 
    ## 
    ##           4.0.0+
    ##           The lists of the remote repositories for discovering dependencies and
    ##             extensions.
    ##         
    element repositories {
      element repository { Repository }*
    }??
  & 
    ## 
    ##           4.0.0+
    ##           The lists of the remote repositories for discovering plugins for builds and
    ##             reports.
    ##         
    element pluginRepositories {
      element pluginRepository { Repository }*
    }??
  & 
    ## 
    ##           4.0.0+
    ##           
    ##             
    ##             <b>Deprecated</b>. Now ignored by Maven.
    ##             
    ##           
    ##         
    element reports {
      element * { text }*
    }??
  & element reporting {
      Reporting
      >> a:documentation [
           "\x{a}" ~
           "          4.0.0+\x{a}" ~
           "          \x{a}" ~
           "            \x{a}" ~
           "            This element includes the specification of report plugins to use\x{a}" ~
           "            to generate the reports on the Maven-generated site.\x{a}" ~
           "            These reports will be run when a user executes <code>mvn site</code>.\x{a}" ~
           "            All of the reports will be included in the navigation bar for browsing.\x{a}" ~
           "            \x{a}" ~
           "          \x{a}" ~
           "        "
         ]
    }??

## 
##       3.0.0+
##       Generic informations for a build.
##     
BuildBase =
  element defaultGoal {
    
    ## 
    ##           3.0.0+
    ##           The default goal (or phase in Maven 2) to execute when none is specified for
    ##             the project. Note that in case of a multi-module build, only the default goal of the top-level
    ##             project is relevant, i.e. the default goals of child modules are ignored. Since Maven 3,
    ##             multiple goals/phases can be separated by whitespace.
    ##         
    xsd:string
  }??
  & 
    ## 
    ##           3.0.0+
    ##           
    ##             This element describes all of the classpath resources such as properties
    ##             files associated with a project. These resources are often included in the final
    ##             package.
    ##             The default value is <code>src/main/resources</code>.
    ##           
    ##         
    element resources {
      element resource { Resource }*
    }??
  & 
    ## 
    ##           4.0.0+
    ##           
    ##             This element describes all of the classpath resources such as properties
    ##             files associated with a project's unit tests.
    ##             The default value is <code>src/test/resources</code>.
    ##           
    ##         
    element testResources {
      element testResource { Resource }*
    }??
  & element directory {
      
      ## 
      ##           4.0.0+
      ##           
      ##             The directory where all files generated by the build are placed.
      ##             The default value is <code>target</code>.
      ##           
      ##         
      xsd:string
    }??
  & element finalName {
      
      ## 
      ##           4.0.0+
      ##           
      ##             
      ##             The filename (excluding the extension, and with no path information) that
      ##             the produced artifact will be called.
      ##             The default value is <code>${artifactId}-${version}</code>.
      ##             
      ##           
      ##         
      xsd:string
    }??
  & 
    ## 
    ##           4.0.0+
    ##           The list of filter properties files that are used when filtering is enabled.
    ##         
    element filters {
      element filter { xsd:string }*
    }??
  & element pluginManagement {
      PluginManagement
      >> a:documentation [
           "\x{a}" ~
           "          4.0.0+\x{a}" ~
           "          Default plugin information to be made available for reference by projects\x{a}" ~
           "            derived from this one. This plugin configuration will not be resolved or bound to the\x{a}" ~
           "            lifecycle unless referenced. Any local configuration for a given plugin will override\x{a}" ~
           "            the plugin's entire definition here.\x{a}" ~
           "        "
         ]
    }??
  & 
    ## 
    ##           4.0.0+
    ##           The list of plugins to use.
    ##         
    element plugins {
      element plugin { Plugin }*
    }??

## 
##       4.0.0+
##       
##         
##         The <code>&lt;plugin&gt;</code> element contains informations required for a plugin.
##         
##       
##     
Plugin =
  
  ## 
  ##             default value is : org.apache.maven.plugins
  (element groupId {
     
     ## 
     ##           4.0.0+
     ##           The group ID of the plugin in the repository.
     ##         
     xsd:string
   }??)
  & element artifactId {
      
      ## 
      ##           4.0.0+
      ##           The artifact ID of the plugin in the repository.
      ##         
      xsd:string
    }??
  & element version {
      
      ## 
      ##           4.0.0+
      ##           The version (or valid range of versions) of the plugin to be used.
      ##         
      xsd:string
    }??
  & element extensions {
      
      ## 
      ##           4.0.0+
      ##           
      ##             
      ##             Whether to load Maven extensions (such as packaging and type handlers) from
      ##             this plugin. For performance reasons, this should only be enabled when necessary. Note: While the type
      ##             of this field is <code>String</code> for technical reasons, the semantic type is actually
      ##             <code>Boolean</code>. Default value is <code>false</code>.
      ##             
      ##           
      ##         
      xsd:string
    }??
  & 
    ## 
    ##           4.0.0+
    ##           Multiple specifications of a set of goals to execute during the build
    ##             lifecycle, each having (possibly) a different configuration.
    ##         
    element executions {
      element execution { PluginExecution }*
    }??
  & 
    ## 
    ##           4.0.0+
    ##           Additional dependencies that this project needs to introduce to the plugin's
    ##             classloader.
    ##         
    element dependencies {
      element dependency { Dependency }*
    }??
  & 
    ## 
    ##           4.0.0+
    ##           
    ##             
    ##             <b>Deprecated</b>. Unused by Maven.
    ##             
    ##           
    ##         
    element goals {
      element * { text }*
    }??
  & element inherited {
      
      ## 
      ##           4.0.0+
      ##           
      ##             
      ##             Whether any configuration should be propagated to child POMs. Note: While the type
      ##             of this field is <code>String</code> for technical reasons, the semantic type is actually
      ##             <code>Boolean</code>. Default value is <code>true</code>.
      ##             
      ##           
      ##         
      xsd:string
    }??
  & 
    ## 
    ##           0.0.0+
    ##           
    ##             
    ##             <p>The configuration as DOM object.</p>
    ##             <p>By default, every element content is trimmed, but starting with Maven 3.1.0, you can add
    ##             <code>xml:space="preserve"</code> to elements you want to preserve whitespace.</p>
    ##             <p>You can control how child POMs inherit configuration from parent POMs by adding <code>combine.children</code>
    ##             or <code>combine.self</code> attributes to the children of the configuration element:</p>
    ##             <ul>
    ##             <li><code>combine.children</code>: available values are <code>merge</code> (default) and <code>append</code>,</li>
    ##             <li><code>combine.self</code>: available values are <code>merge</code> (default) and <code>override</code>.</li>
    ##             </ul>
    ##             <p>See <a href="http://maven.apache.org/pom.html#Plugins">POM Reference documentation</a> and
    ##             <a href="http://plexus.codehaus.org/plexus-utils/apidocs/org/codehaus/plexus/util/xml/Xpp3DomUtils.html">Xpp3DomUtils</a>
    ##             for more information.</p>
    ##             
    ##           
    ##         
    element configuration {
      element * { text }*
    }??

## 
##       3.0.0+
##       
##         
##         The <code>&lt;dependency&gt;</code> element contains information about a dependency
##         of the project.
##         
##       
##     
Dependency =
  element groupId {
    
    ## 
    ##           3.0.0+
    ##           
    ##             
    ##             The project group that produced the dependency, e.g.
    ##             <code>org.apache.maven</code>.
    ##             
    ##           
    ##         
    xsd:string
  }??
  & element artifactId {
      
      ## 
      ##           3.0.0+
      ##           
      ##             
      ##             The unique id for an artifact produced by the project group, e.g.
      ##             <code>maven-artifact</code>.
      ##             
      ##           
      ##         
      xsd:string
    }??
  & element version {
      
      ## 
      ##           3.0.0+
      ##           
      ##             
      ##             The version of the dependency, e.g. <code>3.2.1</code>. In Maven 2, this can also be
      ##             specified as a range of versions.
      ##             
      ##           
      ##         
      xsd:string
    }??
  & 
    ## 
    ##             default value is : jar
    (element type {
       
       ## 
       ##           4.0.0+
       ##           
       ##             
       ##             The type of dependency. While it
       ##             usually represents the extension on the filename of the dependency,
       ##             that is not always the case. A type can be mapped to a different
       ##             extension and a classifier.
       ##             The type often corresponds to the packaging used, though this is also
       ##             not always the case.
       ##             Some examples are <code>jar</code>, <code>war</code>, <code>ejb-client</code>
       ##             and <code>test-jar</code>: see <a href="../maven-core/artifact-handlers.html">default
       ##             artifact handlers</a> for a list.
       ##             New types can be defined by plugins that set
       ##             <code>extensions</code> to <code>true</code>, so this is not a complete list.
       ##             
       ##           
       ##         
       xsd:string
     }??)
  & element classifier {
      
      ## 
      ##           4.0.0+
      ##           
      ##             
      ##             The classifier of the dependency. It is appended to
      ##             the filename after the version. This allows:
      ##             <ul>
      ##             <li>refering to attached artifact, for example <code>sources</code> and <code>javadoc</code>:
      ##             see <a href="../maven-core/artifact-handlers.html">default artifact handlers</a> for a list,</li>
      ##             <li>distinguishing two artifacts
      ##             that belong to the same POM but were built differently.
      ##             For example, <code>jdk14</code> and <code>jdk15</code>.</li>
      ##             </ul>
      ##             
      ##           
      ##         
      xsd:string
    }??
  & element scope {
      
      ## 
      ##           4.0.0+
      ##           
      ##             
      ##             The scope of the dependency - <code>compile</code>, <code>runtime</code>,
      ##             <code>test</code>, <code>system</code>, and <code>provided</code>. Used to
      ##             calculate the various classpaths used for compilation, testing, and so on.
      ##             It also assists in determining which artifacts to include in a distribution of
      ##             this project. For more information, see
      ##             <a href="http://maven.apache.org/guides/introduction/introduction-to-dependency-mechanism.html">the
      ##             dependency mechanism</a>.
      ##             
      ##           
      ##         
      xsd:string
    }??
  & element systemPath {
      
      ## 
      ##           4.0.0+
      ##           
      ##             
      ##             FOR SYSTEM SCOPE ONLY. Note that use of this property is <b>discouraged</b>
      ##             and may be replaced in later versions. This specifies the path on the filesystem
      ##             for this dependency.
      ##             Requires an absolute path for the value, not relative.
      ##             Use a property that gives the machine specific absolute path,
      ##             e.g. <code>${java.home}</code>.
      ##             
      ##           
      ##         
      xsd:string
    }??
  & 
    ## 
    ##           4.0.0+
    ##           Lists a set of artifacts that should be excluded from this dependency's
    ##             artifact list when it comes to calculating transitive dependencies.
    ##         
    element exclusions {
      element exclusion { Exclusion }*
    }??
  & element optional {
      
      ## 
      ##           4.0.0+
      ##           
      ##             
      ##             Indicates the dependency is optional for use of this library. While the
      ##             version of the dependency will be taken into account for dependency calculation if the
      ##             library is used elsewhere, it will not be passed on transitively. Note: While the type
      ##             of this field is <code>String</code> for technical reasons, the semantic type is actually
      ##             <code>Boolean</code>. Default value is <code>false</code>.
      ##             
      ##           
      ##         
      xsd:string
    }??

## 
##       4.0.0+
##       
##         
##         The <code>&lt;exclusion&gt;</code> element contains informations required to exclude
##         an artifact to the project.
##         
##       
##     
Exclusion =
  element artifactId {
    
    ## 
    ##           4.0.0+
    ##           The artifact ID of the project to exclude.
    ##         
    xsd:string
  }??
  & element groupId {
      
      ## 
      ##           4.0.0+
      ##           The group ID of the project to exclude.
      ##         
      xsd:string
    }??

## 
##       4.0.0+
##       
##         
##         The <code>&lt;execution&gt;</code> element contains informations required for the
##         execution of a plugin.
##         
##       
##     
PluginExecution =
  
  ## 
  ##             default value is : default
  (element id {
     
     ## 
     ##           4.0.0+
     ##           The identifier of this execution for labelling the goals during the build,
     ##             and for matching executions to merge during inheritance and profile injection.
     ##         
     xsd:string
   }??)
  & element phase {
      
      ## 
      ##           4.0.0+
      ##           The build lifecycle phase to bind the goals in this execution to. If omitted,
      ##             the goals will be bound to the default phase specified by the plugin. 
      ##         
      xsd:string
    }??
  & 
    ## 
    ##           4.0.0+
    ##           The goals to execute with the given configuration.
    ##         
    element goals {
      element goal { xsd:string }*
    }??
  & element inherited {
      
      ## 
      ##           4.0.0+
      ##           
      ##             
      ##             Whether any configuration should be propagated to child POMs. Note: While the type
      ##             of this field is <code>String</code> for technical reasons, the semantic type is actually
      ##             <code>Boolean</code>. Default value is <code>true</code>.
      ##             
      ##           
      ##         
      xsd:string
    }??
  & 
    ## 
    ##           0.0.0+
    ##           
    ##             
    ##             <p>The configuration as DOM object.</p>
    ##             <p>By default, every element content is trimmed, but starting with Maven 3.1.0, you can add
    ##             <code>xml:space="preserve"</code> to elements you want to preserve whitespace.</p>
    ##             <p>You can control how child POMs inherit configuration from parent POMs by adding <code>combine.children</code>
    ##             or <code>combine.self</code> attributes to the children of the configuration element:</p>
    ##             <ul>
    ##             <li><code>combine.children</code>: available values are <code>merge</code> (default) and <code>append</code>,</li>
    ##             <li><code>combine.self</code>: available values are <code>merge</code> (default) and <code>override</code>.</li>
    ##             </ul>
    ##             <p>See <a href="http://maven.apache.org/pom.html#Plugins">POM Reference documentation</a> and
    ##             <a href="http://plexus.codehaus.org/plexus-utils/apidocs/org/codehaus/plexus/util/xml/Xpp3DomUtils.html">Xpp3DomUtils</a>
    ##             for more information.</p>
    ##             
    ##           
    ##         
    element configuration {
      element * { text }*
    }??

## 
##       3.0.0+
##       This element describes all of the classpath resources associated with a project
##         or unit tests.
##     
Resource =
  element targetPath {
    
    ## 
    ##           3.0.0+
    ##           
    ##             
    ##             Describe the resource target path. The path is relative to the target/classes
    ##             directory (i.e. <code>${project.build.outputDirectory}</code>).
    ##             For example, if you want that resource to appear in a specific package
    ##             (<code>org.apache.maven.messages</code>), you must specify this
    ##             element with this value: <code>org/apache/maven/messages</code>.
    ##             This is not required if you simply put the resources in that directory
    ##             structure at the source, however.
    ##             
    ##           
    ##         
    xsd:string
  }??
  & element filtering {
      
      ## 
      ##           3.0.0+
      ##           
      ##             
      ##             Whether resources are filtered to replace tokens with parameterised values or not.
      ##             The values are taken from the <code>properties</code> element and from the
      ##             properties in the files listed in the <code>filters</code> element. Note: While the type
      ##             of this field is <code>String</code> for technical reasons, the semantic type is actually
      ##             <code>Boolean</code>. Default value is <code>false</code>.
      ##             
      ##           
      ##         
      xsd:string
    }??
  & element directory {
      
      ## 
      ##           3.0.0+
      ##           Describe the directory where the resources are stored. The path is relative
      ##             to the POM.
      ##         
      xsd:string
    }??
  & 
    ## 
    ##           3.0.0+
    ##           
    ##             
    ##             A list of patterns to include, e.g. <code>**&#47;*.xml</code>.
    ##             
    ##           
    ##         
    element includes {
      element include { xsd:string }*
    }??
  & 
    ## 
    ##           3.0.0+
    ##           
    ##             
    ##             A list of patterns to exclude, e.g. <code>**&#47;*.xml</code>
    ##             
    ##           
    ##         
    element excludes {
      element exclude { xsd:string }*
    }??

## 
##       4.0.0+
##       Section for management of default plugin information for use in a group of POMs.
##       
##     
PluginManagement =
  
  ## 
  ##           4.0.0+
  ##           The list of plugins to use.
  ##         
  element plugins {
    element plugin { Plugin }*
  }??

## 
##       4.0.0+
##       Section for management of reports and their configuration.
##     
Reporting =
  element excludeDefaults {
    
    ## 
    ##           4.0.0+
    ##           
    ##             
    ##             If true, then the default reports are not included in the site generation.
    ##             This includes the reports in the "Project Info" menu. Note: While the type
    ##             of this field is <code>String</code> for technical reasons, the semantic type is actually
    ##             <code>Boolean</code>. Default value is <code>false</code>.
    ##             
    ##           
    ##         
    xsd:string
  }??
  & element outputDirectory {
      
      ## 
      ##           4.0.0+
      ##           
      ##             
      ##             Where to store all of the generated reports. The default is
      ##             <code>${project.build.directory}/site</code>.
      ##             
      ##           
      ##         
      xsd:string
    }??
  & 
    ## 
    ##           4.0.0+
    ##           The reporting plugins to use and their configuration.
    ##         
    element plugins {
      element plugin { ReportPlugin }*
    }??

## 
##       4.0.0+
##       
##         
##         The <code>&lt;plugin&gt;</code> element contains informations required for a report plugin.
##         
##       
##     
ReportPlugin =
  
  ## 
  ##             default value is : org.apache.maven.plugins
  (element groupId {
     
     ## 
     ##           4.0.0+
     ##           The group ID of the reporting plugin in the repository.
     ##         
     xsd:string
   }??)
  & element artifactId {
      
      ## 
      ##           4.0.0+
      ##           The artifact ID of the reporting plugin in the repository.
      ##         
      xsd:string
    }??
  & element version {
      
      ## 
      ##           4.0.0+
      ##           The version of the reporting plugin to be used.
      ##         
      xsd:string
    }??
  & 
    ## 
    ##           4.0.0+
    ##           
    ##             
    ##             Multiple specifications of a set of reports, each having (possibly) different
    ##             configuration. This is the reporting parallel to an <code>execution</code> in the build.
    ##             
    ##           
    ##         
    element reportSets {
      element reportSet { ReportSet }*
    }??
  & element inherited {
      
      ## 
      ##           4.0.0+
      ##           
      ##             
      ##             Whether any configuration should be propagated to child POMs. Note: While the type
      ##             of this field is <code>String</code> for technical reasons, the semantic type is actually
      ##             <code>Boolean</code>. Default value is <code>true</code>.
      ##             
      ##           
      ##         
      xsd:string
    }??
  & 
    ## 
    ##           0.0.0+
    ##           
    ##             
    ##             <p>The configuration as DOM object.</p>
    ##             <p>By default, every element content is trimmed, but starting with Maven 3.1.0, you can add
    ##             <code>xml:space="preserve"</code> to elements you want to preserve whitespace.</p>
    ##             <p>You can control how child POMs inherit configuration from parent POMs by adding <code>combine.children</code>
    ##             or <code>combine.self</code> attributes to the children of the configuration element:</p>
    ##             <ul>
    ##             <li><code>combine.children</code>: available values are <code>merge</code> (default) and <code>append</code>,</li>
    ##             <li><code>combine.self</code>: available values are <code>merge</code> (default) and <code>override</code>.</li>
    ##             </ul>
    ##             <p>See <a href="http://maven.apache.org/pom.html#Plugins">POM Reference documentation</a> and
    ##             <a href="http://plexus.codehaus.org/plexus-utils/apidocs/org/codehaus/plexus/util/xml/Xpp3DomUtils.html">Xpp3DomUtils</a>
    ##             for more information.</p>
    ##             
    ##           
    ##         
    element configuration {
      element * { text }*
    }??

## 
##       4.0.0+
##       Represents a set of reports and configuration to be used to generate them.
##     
ReportSet =
  
  ## 
  ##             default value is : default
  (element id {
     
     ## 
     ##           0.0.0+
     ##           The unique id for this report set, to be used during POM inheritance and profile injection
     ##             for merging of report sets.
     ##           
     ##         
     xsd:string
   }??)
  & 
    ## 
    ##           4.0.0+
    ##           The list of reports from this plugin which should be generated from this set.
    ##         
    element reports {
      element report { xsd:string }*
    }??
  & element inherited {
      
      ## 
      ##           4.0.0+
      ##           
      ##             
      ##             Whether any configuration should be propagated to child POMs. Note: While the type
      ##             of this field is <code>String</code> for technical reasons, the semantic type is actually
      ##             <code>Boolean</code>. Default value is <code>true</code>.
      ##             
      ##           
      ##         
      xsd:string
    }??
  & 
    ## 
    ##           0.0.0+
    ##           
    ##             
    ##             <p>The configuration as DOM object.</p>
    ##             <p>By default, every element content is trimmed, but starting with Maven 3.1.0, you can add
    ##             <code>xml:space="preserve"</code> to elements you want to preserve whitespace.</p>
    ##             <p>You can control how child POMs inherit configuration from parent POMs by adding <code>combine.children</code>
    ##             or <code>combine.self</code> attributes to the children of the configuration element:</p>
    ##             <ul>
    ##             <li><code>combine.children</code>: available values are <code>merge</code> (default) and <code>append</code>,</li>
    ##             <li><code>combine.self</code>: available values are <code>merge</code> (default) and <code>override</code>.</li>
    ##             </ul>
    ##             <p>See <a href="http://maven.apache.org/pom.html#Plugins">POM Reference documentation</a> and
    ##             <a href="http://plexus.codehaus.org/plexus-utils/apidocs/org/codehaus/plexus/util/xml/Xpp3DomUtils.html">Xpp3DomUtils</a>
    ##             for more information.</p>
    ##             
    ##           
    ##         
    element configuration {
      element * { text }*
    }??

## 
##       4.0.0+
##       The conditions within the build runtime environment which will trigger the
##         automatic inclusion of the build profile. Multiple conditions can be defined, which must
##         be all satisfied to activate the profile.
##       
##     
Activation =
  
  ## 
  ##             default value is : false
  (element activeByDefault {
     
     ## 
     ##           4.0.0+
     ##           If set to true, this profile will be active unless another profile in this
     ##             pom is activated using the command line -P option or by one of that profile's
     ##             activators.
     ##         
     xsd:boolean
   }??)
  & element jdk {
      
      ## 
      ##           4.0.0+
      ##           
      ##             
      ##             Specifies that this profile will be activated when a matching JDK is detected.
      ##             For example, <code>1.4</code> only activates on JDKs versioned 1.4,
      ##             while <code>!1.4</code> matches any JDK that is not version 1.4. Ranges are supported too:
      ##             <code>[1.5,)</code> activates when the JDK is 1.5 minimum.
      ##             
      ##           
      ##         
      xsd:string
    }??
  & element os {
      ActivationOS
      >> a:documentation [
           "\x{a}" ~
           "          4.0.0+\x{a}" ~
           "          Specifies that this profile will be activated when matching operating system\x{a}" ~
           "            attributes are detected.\x{a}" ~
           "        "
         ]
    }??
  & element property {
      ActivationProperty
      >> a:documentation [
           "\x{a}" ~
           "          4.0.0+\x{a}" ~
           "          Specifies that this profile will be activated when this system property is\x{a}" ~
           "            specified.\x{a}" ~
           "        "
         ]
    }??
  & element file {
      ActivationFile
      >> a:documentation [
           "\x{a}" ~
           "          4.0.0+\x{a}" ~
           "          Specifies that this profile will be activated based on existence of a file.\x{a}" ~
           "        "
         ]
    }??

## 
##       4.0.0+
##       This is the property specification used to activate a profile. If the value field
##         is empty, then the existence of the named property will activate the profile, otherwise it
##         does a case-sensitive match against the property value as well.
##     
ActivationProperty =
  element name {
    
    ## 
    ##           4.0.0+
    ##           The name of the property to be used to activate a profile.
    ##         
    xsd:string
  }??
  & element value {
      
      ## 
      ##           4.0.0+
      ##           The value of the property required to activate a profile.
      ##         
      xsd:string
    }??

## 
##       4.0.0+
##       This is an activator which will detect an operating system's attributes in order
##         to activate its profile.
##     
ActivationOS =
  element name {
    
    ## 
    ##           4.0.0+
    ##           
    ##             
    ##             The name of the operating system to be used to activate the profile. This must be an exact match
    ##             of the <code>${os.name}</code> Java property, such as <code>Windows XP</code>.
    ##             
    ##           
    ##         
    xsd:string
  }??
  & element family {
      
      ## 
      ##           4.0.0+
      ##           
      ##             
      ##             The general family of the OS to be used to activate the profile, such as
      ##             <code>windows</code> or <code>unix</code>.
      ##             
      ##           
      ##         
      xsd:string
    }??
  & element arch {
      
      ## 
      ##           4.0.0+
      ##           The architecture of the operating system to be used to activate the
      ##           profile.
      ##         
      xsd:string
    }??
  & element version {
      
      ## 
      ##           4.0.0+
      ##           The version of the operating system to be used to activate the
      ##           profile.
      ##         
      xsd:string
    }??

## 
##       4.0.0+
##       This is the file specification used to activate the profile. The <code>missing</code> value
##         is the location of a file that needs to exist, and if it doesn't, the profile will be
##         activated. On the other hand, <code>exists</code> will test for the existence of the file and if it is
##         there, the profile will be activated.<br/>
##         Variable interpolation for these file specifications is limited to <code>${basedir}</code>,
##         System properties and request properties.
##     
ActivationFile =
  element missing {
    
    ## 
    ##           4.0.0+
    ##           The name of the file that must be missing to activate the
    ##           profile.
    ##         
    xsd:string
  }??
  & element exists {
      
      ## 
      ##           4.0.0+
      ##           The name of the file that must exist to activate the profile.
      ##         
      xsd:string
    }??

## 
##       4.0.0+
##       Section for management of default dependency information for use in a group of
##         POMs.
##     
DependencyManagement =
  
  ## 
  ##           4.0.0+
  ##           The dependencies specified here are not used until they are referenced in a
  ##             POM within the group. This allows the specification of a "standard" version for a
  ##             particular dependency.
  ##         
  element dependencies {
    element dependency { Dependency }*
  }??

## 
##       3.0.0+
##       
##         
##         The <code>&lt;build&gt;</code> element contains informations required to build the project.
##         Default values are defined in Super POM.
##         
##       
##     
Build =
  element sourceDirectory {
    
    ## 
    ##           3.0.0+
    ##           
    ##             This element specifies a directory containing the source of the project. The
    ##             generated build system will compile the sources from this directory when the project is
    ##             built. The path given is relative to the project descriptor.
    ##             The default value is <code>src/main/java</code>.
    ##           
    ##         
    xsd:string
  }??
  & element scriptSourceDirectory {
      
      ## 
      ##           4.0.0+
      ##           
      ##             This element specifies a directory containing the script sources of the
      ##             project. This directory is meant to be different from the sourceDirectory, in that its
      ##             contents will be copied to the output directory in most cases (since scripts are
      ##             interpreted rather than compiled).
      ##             The default value is <code>src/main/scripts</code>.
      ##           
      ##         
      xsd:string
    }??
  & element testSourceDirectory {
      
      ## 
      ##           4.0.0+
      ##           
      ##             This element specifies a directory containing the unit test source of the
      ##             project. The generated build system will compile these directories when the project is
      ##             being tested. The path given is relative to the project descriptor.
      ##             The default value is <code>src/test/java</code>.
      ##           
      ##         
      xsd:string
    }??
  & element outputDirectory {
      
      ## 
      ##           4.0.0+
      ##           
      ##             The directory where compiled application classes are placed.
      ##             The default value is <code>target/classes</code>.
      ##           
      ##         
      xsd:string
    }??
  & element testOutputDirectory {
      
      ## 
      ##           4.0.0+
      ##           
      ##             The directory where compiled test classes are placed.
      ##             The default value is <code>target/test-classes</code>.
      ##           
      ##         
      xsd:string
    }??
  & 
    ## 
    ##           4.0.0+
    ##           A set of build extensions to use from this project.
    ##         
    element extensions {
      element extension { Extension }*
    }??
  & element defaultGoal {
      
      ## 
      ##           3.0.0+
      ##           The default goal (or phase in Maven 2) to execute when none is specified for
      ##             the project. Note that in case of a multi-module build, only the default goal of the top-level
      ##             project is relevant, i.e. the default goals of child modules are ignored. Since Maven 3,
      ##             multiple goals/phases can be separated by whitespace.
      ##         
      xsd:string
    }??
  & 
    ## 
    ##           3.0.0+
    ##           
    ##             This element describes all of the classpath resources such as properties
    ##             files associated with a project. These resources are often included in the final
    ##             package.
    ##             The default value is <code>src/main/resources</code>.
    ##           
    ##         
    element resources {
      element resource { Resource }*
    }??
  & 
    ## 
    ##           4.0.0+
    ##           
    ##             This element describes all of the classpath resources such as properties
    ##             files associated with a project's unit tests.
    ##             The default value is <code>src/test/resources</code>.
    ##           
    ##         
    element testResources {
      element testResource { Resource }*
    }??
  & element directory {
      
      ## 
      ##           4.0.0+
      ##           
      ##             The directory where all files generated by the build are placed.
      ##             The default value is <code>target</code>.
      ##           
      ##         
      xsd:string
    }??
  & element finalName {
      
      ## 
      ##           4.0.0+
      ##           
      ##             
      ##             The filename (excluding the extension, and with no path information) that
      ##             the produced artifact will be called.
      ##             The default value is <code>${artifactId}-${version}</code>.
      ##             
      ##           
      ##         
      xsd:string
    }??
  & 
    ## 
    ##           4.0.0+
    ##           The list of filter properties files that are used when filtering is enabled.
    ##         
    element filters {
      element filter { xsd:string }*
    }??
  & element pluginManagement {
      PluginManagement
      >> a:documentation [
           "\x{a}" ~
           "          4.0.0+\x{a}" ~
           "          Default plugin information to be made available for reference by projects\x{a}" ~
           "            derived from this one. This plugin configuration will not be resolved or bound to the\x{a}" ~
           "            lifecycle unless referenced. Any local configuration for a given plugin will override\x{a}" ~
           "            the plugin's entire definition here.\x{a}" ~
           "        "
         ]
    }??
  & 
    ## 
    ##           4.0.0+
    ##           The list of plugins to use.
    ##         
    element plugins {
      element plugin { Plugin }*
    }??

## 
##       4.0.0+
##       Describes a build extension to utilise.
##     
Extension =
  element groupId {
    
    ## 
    ##           4.0.0+
    ##           The group ID of the extension's artifact.
    ##         
    xsd:string
  }??
  & element artifactId {
      
      ## 
      ##           4.0.0+
      ##           The artifact ID of the extension.
      ##         
      xsd:string
    }??
  & element version {
      
      ## 
      ##           4.0.0+
      ##           The version of the extension.
      ##         
      xsd:string
    }??

## 
##       3.0.0+
##       Describes the licenses for this project. This is used to generate the license
##         page of the project's web site, as well as being taken into consideration in other reporting
##         and validation. The licenses listed for the project are that of the project itself, and not
##         of dependencies.
##     
License =
  element name {
    
    ## 
    ##           3.0.0+
    ##           The full legal name of the license.
    ##         
    xsd:string
  }??
  & element url {
      
      ## 
      ##           3.0.0+
      ##           The official url for the license text.
      ##         
      xsd:string
    }??
  & element distribution {
      
      ## 
      ##           3.0.0+
      ##           
      ##             
      ##             The primary method by which this project may be distributed.
      ##             <dl>
      ##               <dt>repo</dt>
      ##               <dd>may be downloaded from the Maven repository</dd>
      ##               <dt>manual</dt>
      ##               <dd>user must manually download and install the dependency.</dd>
      ##             </dl>
      ##             
      ##           
      ##         
      xsd:string
    }??
  & element comments {
      
      ## 
      ##           3.0.0+
      ##           Addendum information pertaining to this license.
      ##         
      xsd:string
    }??

## 
##       3.0.0+
##       This element describes all of the mailing lists associated with a project. The
##         auto-generated site references this information.
##     
MailingList =
  element name {
    
    ## 
    ##           3.0.0+
    ##           
    ##             
    ##             The name of the mailing list.
    ##             
    ##           
    ##         
    xsd:string
  }??
  & element subscribe {
      
      ## 
      ##           3.0.0+
      ##           
      ##             
      ##             The email address or link that can be used to subscribe to
      ##             the mailing list.  If this is an email address, a
      ##             <code>mailto:</code> link will automatically be created
      ##             when the documentation is created.
      ##             
      ##           
      ##         
      xsd:string
    }??
  & element unsubscribe {
      
      ## 
      ##           3.0.0+
      ##           
      ##             
      ##             The email address or link that can be used to unsubscribe to
      ##             the mailing list.  If this is an email address, a
      ##             <code>mailto:</code> link will automatically be created
      ##             when the documentation is created.
      ##             
      ##           
      ##         
      xsd:string
    }??
  & element post {
      
      ## 
      ##           3.0.0+
      ##           
      ##             
      ##             The email address or link that can be used to post to
      ##             the mailing list.  If this is an email address, a
      ##             <code>mailto:</code> link will automatically be created
      ##             when the documentation is created.
      ##             
      ##           
      ##         
      xsd:string
    }??
  & element archive {
      
      ## 
      ##           3.0.0+
      ##           The link to a URL where you can browse the mailing list archive.
      ##         
      xsd:string
    }??
  & 
    ## 
    ##           3.0.0+
    ##           The link to alternate URLs where you can browse the list archive.
    ##         
    element otherArchives {
      element otherArchive { xsd:string }*
    }??

## 
##       3.0.0+
##       Information about one of the committers on this project.
##     
Developer =
  element id {
    
    ## 
    ##           3.0.0+
    ##           The unique ID of the developer in the SCM.
    ##         
    xsd:string
  }??
  & element name {
      
      ## 
      ##           3.0.0+
      ##           The full name of the contributor.
      ##         
      xsd:string
    }??
  & element email {
      
      ## 
      ##           3.0.0+
      ##           The email address of the contributor.
      ##         
      xsd:string
    }??
  & element url {
      
      ## 
      ##           3.0.0+
      ##           The URL for the homepage of the contributor.
      ##         
      xsd:string
    }??
  & element organization {
      
      ## 
      ##           3.0.0+
      ##           The organization to which the contributor belongs.
      ##         
      xsd:string
    }??
  & element organizationUrl {
      
      ## 
      ##           3.0.0+
      ##           The URL of the organization.
      ##         
      xsd:string
    }??
  & 
    ## 
    ##           3.0.0+
    ##           
    ##             
    ##             The roles the contributor plays in the project. Each role is described by a
    ##             <code>role</code> element, the body of which is a role name. This can also be used to
    ##             describe the contribution.
    ##             
    ##           
    ##         
    element roles {
      element role { xsd:string }*
    }??
  & element timezone {
      
      ## 
      ##           3.0.0+
      ##           
      ##             
      ##               The timezone the contributor is in. Typically, this is a number in the range
      ##               <a href="http://en.wikipedia.org/wiki/UTC%E2%88%9212:00">-12</a> to <a href="http://en.wikipedia.org/wiki/UTC%2B14:00">+14</a>
      ##               or a valid time zone id like "America/Montreal" (UTC-05:00) or "Europe/Paris" (UTC+01:00).
      ##             
      ##           
      ##         
      xsd:string
    }??
  & 
    ## 
    ##           3.0.0+
    ##           Properties about the contributor, such as an instant messenger handle.
    ##         
    element properties {
      element * { text }*
    }??
